@font-face {
  font-family: 'Banny-BoldRound';
  src: url('Banny-BoldRound.eot');
  src: url('Banny-BoldRound.eot?#iefix') format('embedded-opentype'),
       url('Banny-BoldRound.svg#Banny-BoldRound') format('svg'),
       url('Banny-BoldRound.ttf') format('truetype'),
       url('Banny-BoldRound.woff') format('woff'),
       url('Banny-BoldRound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

